services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DATABASE_URL: ${APP_DATABASE_URL}
      PYTHONPATH: /app/src
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
